In [1]:
import numpy as np
import csv
import glob, copy, os, random, time
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
filename = './VO2max-6-HSY.csv' #파일경로 여기에 
rawdata = pd.read_csv(filename)
rawdata.head()

,ID1,Unnamed: 1,Unnamed: 2,테스트 날짜,2023-02-14,Unnamed: 5,대기압 (mmHg),766,Unnamed: 8,t,...,mark Speed,mark Dist.,Phase time,VO2/Kg%Pred,BR,VT/Ti,HRR,PaCO2_e,SV,CO
0,성,KIST 연구,NaN,테스트 시간,오후 8:03:11,NaN,대기 온도 (°C),24,NaN,s,...,m/s,m,hh:mm:ss,%,%,---,bpm,mmHg,mL,L/min
1,이름,.,NaN,# steps,315,NaN,대기 상대 습도 (%),36,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,성별,여성,NaN,Duration,00:14:09,NaN,플로우미터 온도 (°C),34,NaN,00:00:01,...,0,0,00:00:00,25,85.2,0.87,81,35,27.7,3
3,나이,32,NaN,BSA (m2),1.87359942400869,NaN,플로우미터 상대 습도 (%),100,NaN,00:00:04,...,0,0,00:00:03,18,88.7,0.74,84,35,25.7,2.7
4,키 (cm),174,NaN,BMI (kg/m2),24.1,NaN,STPD (---),0.8331,NaN,00:00:07,...,0,0,00:00:06,16,89.6,0.7,85,34,25,2.6

In [3]:
data = rawdata.iloc[2:,9:]
data =data.reset_index()

data = data.iloc[:,1:]
data.head()

,t,Rf,VT,VE,IV,VO2,VCO2,RQ,O2exp,CO2exp,...,mark Speed,mark Dist.,Phase time,VO2/Kg%Pred,BR,VT/Ti,HRR,PaCO2_e,SV,CO
0,00:00:01,22.56,0.952,21.474,715,653.5216512,553.3832564,0.85,163.2,30.5,...,0,0,00:00:00,25,85.2,0.87,81,35,27.7,3
1,00:00:04,21.18,0.775,16.412,724,459.656729,389.9512294,0.85,134.8,22.9333333,...,0,0,00:00:03,18,88.7,0.74,84,35,25.7,2.7
2,00:00:07,20.39,0.738,15.037,719,410.73433,348.7394099,0.85,128.7,21.3,...,0,0,00:00:06,16,89.6,0.7,85,34,25,2.6
3,00:00:10,20.59,0.75,15.446,680,425.309015,361.8341091,0.85,130.5,21.8666667,...,0,0,00:00:09,17,89.3,0.7,85,34,25.3,2.6
4,00:00:13,17.16,1.227,21.06,1111,578.4720769,528.2895042,0.91,212.9666667,38.2666667,...,0,0,00:00:12,23,85.5,0.92,84,34,27.6,2.9

In [4]:
data_meta1 = rawdata.iloc[:7, :2]
# print(data_meta1)

data_meta1 = data_meta1.set_index('ID1').T.reset_index(drop=True)

print(data_meta1)
data_meta1.head()

ID1        성 이름  성별  나이 키 (cm) 체중 (kg)        생년월일
0    KIST 연구  .  여성  32    174      73  1990-12-24

ID1        성 이름  성별  나이 키 (cm) 체중 (kg)        생년월일
0    KIST 연구  .  여성  32    174      73  1990-12-24

In [5]:

rawdata_noheader = pd.read_csv(filename, header=None)
rawdata_noheader.head()

# data_meta2 = rawdata.iloc[:6, 3:5]
# print(data_meta2)

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,72,73
0,ID1,Unnamed: 1,Unnamed: 2,테스트 날짜,2023-02-14,Unnamed: 5,대기압 (mmHg),766,Unnamed: 8,t,...,mark Speed,mark Dist.,Phase time,VO2/Kg%Pred,BR,VT/Ti,HRR,PaCO2_e,SV,CO
1,성,KIST 연구,NaN,테스트 시간,오후 8:03:11,NaN,대기 온도 (°C),24,NaN,s,...,m/s,m,hh:mm:ss,%,%,---,bpm,mmHg,mL,L/min
2,이름,.,NaN,# steps,315,NaN,대기 상대 습도 (%),36,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,성별,여성,NaN,Duration,00:14:09,NaN,플로우미터 온도 (°C),34,NaN,00:00:01,...,0,0,00:00:00,25,85.2,0.87,81,35,27.7,3
4,나이,32,NaN,BSA (m2),1.87359942400869,NaN,플로우미터 상대 습도 (%),100,NaN,00:00:04,...,0,0,00:00:03,18,88.7,0.74,84,35,25.7,2.7

In [6]:
data_meta2 = rawdata_noheader.iloc[:6, 3:5]

data_meta2 = data_meta2.set_index(3).T.reset_index(drop=True)
data_meta2.head()

3      테스트 날짜      테스트 시간 # steps  Duration          BSA (m2) BMI (kg/m2)
0  2023-02-14  오후 8:03:11     315  00:14:09  1.87359942400869        24.1

In [7]:
data_meta3 = rawdata_noheader.iloc[:11, 6:8]

data_meta3 = data_meta3.set_index(6).T.reset_index(drop=True)
data_meta3.head()

6,대기압 (mmHg),대기 온도 (°C),대기 상대 습도 (%),플로우미터 온도 (°C),플로우미터 상대 습도 (%),STPD (---),BTPS Ins (---),BTPS Exp (---),User 1 (---),User 2 (---),User 3 (---)
0,766,24,36,34,100,0.8331,1.1003,1.0197,-,-,-

In [8]:
plt.plot(data_amplitude.iloc[:, 0])
plt.xlabel("X-axis label")
plt.ylabel("Y-axis label")
plt.show()

NameError: name 'data_amplitude' is not defined

In [ ]:
data_meta = pd.concat([data_meta1, data_meta2, data_meta3], axis=1)
data_meta.head()

,성,이름,성별,나이,키 (cm),체중 (kg),생년월일,테스트 날짜,테스트 시간,# steps,...,대기 온도 (°C),대기 상대 습도 (%),플로우미터 온도 (°C),플로우미터 상대 습도 (%),STPD (---),BTPS Ins (---),BTPS Exp (---),User 1 (---),User 2 (---),User 3 (---)
0,KIST 연구,.,여성,32,174,73,1990-12-24,2023-02-14,오후 8:03:11,315,...,24,36,34,100,0.8331,1.1003,1.0197,-,-,-

In [ ]:
# -------------------
#  data_meta, data ==> two dataframes

In [ ]:
value = data_meta.iloc[0]['테스트 시간']
print(value)

NameError: name 'data_meta' is not defined